<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="webuntisnoten2atlantis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <webuntisnoten2atlantis.Properties.Settings>
            <setting name="Klassenwahl" serializeAs="String">
                <value />
            </setting>
            <setting name="Zeugnisarten" serializeAs="String">
                <value />
            </setting>
            <setting name="Anlagen" serializeAs="String">
                <value />
            </setting>
            <setting name="Auswahl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pfad" serializeAs="String">
                <value />
            </setting>
            <setting name="Abschlussklassen" serializeAs="String">
                <value />
            </setting>
            <setting name="AbschlussklassenAuswahl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Klassenart" serializeAs="String">
                <value />
            </setting>
            <setting name="AbschlussklassenAnfangsbuchstaben" serializeAs="String">
                <value />
            </setting>
            <setting name="Einstellungen" serializeAs="String">
                <value />
            </setting>
        </webuntisnoten2atlantis.Properties.Settings>
    </userSettings>
</configuration>